<%- include('../includes/head', { title: title }); %>

<div class="container">
	<h2 class="error-header"><%= code %> Error</h2>
	<h3 class="error-title"><%= title %></h3>
	<div id="error-message"><%= message %></div>
</div>

<%- include('../includes/end'); %>
